<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title InternRecruiter</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/fontawesome")
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/images/icon.png" />

    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div style="margin-top: 10px;">
                    <a href="../Home/Index" id="mainLogo">InternRecruiter <i class="fa fa-search"></i></a>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">@Html.ActionLink("HOME", "Index", "Home")</li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active" : "")">@Html.ActionLink("ABOUT", "About", "Home")</li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active" : "")">@Html.ActionLink("CONTACT", "Contact", "Home")</li>

                    @if (User.IsInRole("General User"))
                    {
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "SubmitApplication" ? "active" : "")">@Html.ActionLink("SUBMIT APPLICATION", "SubmitApplication", "InternshipApplications")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p><b>Bachelor Thesis 2017 -</b> InternRecruiter v1.0</p>
            <p><b>Student:</b> Laslo Marian</p>
            <p><b>Advisor:</b> Assoc. Prof. Dr. Niculescu Virginia</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<style>
    body {
        background-image: url("/Content/images/pattern.jpg");
        background-repeat: repeat;
        margin-top: 15px;
    }

    .navbar-inverse {
        background-image: url("/Content/images/background.png");
        background-repeat: repeat;
        background-color: transparent;
        background-size: 120px 100px;
        min-height: 65px;
    }

    hr {
        border-color: #232323;
    }

    .navbar-nav .active a {
        background-color: transparent !important;
        border-bottom: solid 2px;
        border-color: #428bca;
        border-radius: 0;
        padding-bottom: 2px;
    }

    .navbar-nav li a {
        margin: 5px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 7.5px;
        margin-top: 1.5vh;
        font-weight: bold;
        border-radius: 5px;
        color: #cfd3d3;
        font-size: 1.4rem;
    }

    #mainLogo {
        font-size: 28px;
        color: #428bca;
        text-decoration: none;
        margin-right: 15px;
    }

        #mainLogo:hover {
            color: #3276b1;
            text-decoration: none;
        }

        #mainLogo .fa-search {
            margin-left: -5px;
            font-size: 35px;
        }

    /* Navbar button toggle on higher screen size.*/
    @@media (max-width: 1000px) {
        .navbar-header {
            float: none;
        }

        .navbar-left, .navbar-right {
            float: none !important;
        }

        .navbar-toggle {
            display: block;
        }

        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }

        .navbar-fixed-top {
            top: 0;
            border-width: 0 0 1px;
        }

        .navbar-collapse.collapse {
            display: none !important;
        }

        .navbar-nav {
            float: none !important;
            margin-top: 7.5px;
        }

            .navbar-nav > li {
                float: none;
            }

                .navbar-nav > li > a {
                    padding-top: 10px;
                    padding-bottom: 10px;
                }

        .collapse.in {
            display: block !important;
        }
    }
</style>