@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @if (User.IsInRole("Manager"))
            {
                <li>@Html.ActionLink("MANAGE APPLICATIONS", "Index", "InternshipApplications")</li>
            }
            @if (User.IsInRole("Administrator"))
            {
                <li>@Html.ActionLink("MANAGE USERS", "Index", "User")</li>
            }
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.GetUserName()</a>
                <ul class="dropdown-menu">
                    @if (User.IsInRole("General User"))
                    { 
                    <li>
                        @Html.ActionLink("MY APPLICATION", "AppDetails", "InternshipApplications", new { id = User.Identity.GetUserId() }, htmlAttributes: new { title = "Details" })
                    </li>                    
                    }
                    <li>
                        @Html.ActionLink("CHANGE PASSWORD", "ChangePassword", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"})
                    </li>
                </ul>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">LOGOUT</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("REGISTER", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("LOGIN", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
